.p-hero{
    &__image{
        @include mq(){
            display: none;
        }

        &--sp{
            display: none;

            @include mq(){
                display: block;
            }
        }
    }
}
