.p-pjForm{
    padding: $space_3l 20%;

    @include mq(lg){
        padding: $space_3l 10%;
    }

    @include mq(){
        padding: $space_3l $space_default;
    }

    &__container{
        margin: $space_2l auto;
    }

    &__submit{
        margin: $space_2l 0 0;
        text-align: right;
    }
}
