.p-pjList{
    background: $default-bg;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 2000px;
    padding: $space_2l auto;

    @include mq(lg){
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    }


}
